#!/bin/bash
# Activate conda cv environment using direnv

# Setup conda for direnv
export CONDA_DIR="$HOME/miniconda3"
. "$CONDA_DIR/etc/profile.d/conda.sh"

# Activate the cv environment
conda activate cv
